* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-se1rif;
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.circular_image {
    margin: auto;
    width: 80%;
    height: 110%;
    border-radius: 100%;
    background-color: blue;
}

.text-image {
    display: flex;
    padding: 40px 10px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;

}

#image img {
    width: 100%;
}

#text {
    padding-right: 50px;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-color: rgb(245, 111, 22);
    border-radius: 5%;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
}