* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-se1rif;
    
}

.orange-color {
    color: orange;
    font-size: 20px;
}

.text-image {
    display: flex;
    padding: 40px 10px;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-right: 30px;

}

#image img {
    width: 100%;
    border-radius: 100%;
    margin-top: 120px;
}

#text {
    padding-right: 50px;
    text-align: justify;
}

.link-button {
    text-decoration: none;
    background-color: rgb(245, 111, 22);
    border-radius: 5%;
    padding: 10px 40px;
    font-weight: 700;
    color: white;
}

.lower-part {
    margin: 100px 40px;
    display: flex;
}

.lower-text-image {
    width: 50%;
    padding: 2%;
}

.lower-text-image .image-02 {
    width: 100%;
    border-radius: 100%;
    margin-top: 50px;
}
.experience-item{
    display: flex;
    padding: 20px;
}
.experience{
    width: 50%;
    padding: 20px;
    border-left: 7px solid blue ;
    box-shadow: 20px 10px 24px;
    border-radius: 2%;
}
#yellow{
    border-left: 7px solid orange;
    margin-left: 20px;
    padding-left: 20px;
}
#blue{
    border-left: 7px solid rgb(38, 0, 255);
    margin-left: 10px;
    padding-left: 10px;
}
.head{
    font-family: fantasy;
    font-size: 40px;
    padding-left: 25px;
    color: coral;
}
.footer{
    color: blueviolet;
    padding-top: 100px;
    text-align: center;
}
.paragraph{
    text-align: justify;
    font-size: 16px;
}
